<!DOCTYPE html>
<html>
  <title>HTML Tutorial</title>
  <body>
    <br><br>
     <form action="play">
      <fieldset>
        Choose your weapon <%= @name %>! Choose wisely...<br><br>
        <input type="radio" name="hand" value="rock">Rock
        <input type="radio" name="hand" value="paper">Paper
        <input type="radio" name="hand" value="scissors">Scissors
        <input type="radio" name="hand" value="spock">Spock
        <input type="radio" name="hand" value="lizard">Lizard
        <input type="submit" value="FIGHT!">
      </fieldset>
    </form>
  </body>
</html>