<!DOCTYPE html>
<html>
  <title>HTML Tutorial</title>
  <body>
    <form action="game_options">
      <fieldset>
        To start a game, please enter your name:<br><br>
        <input type="text" name="name" required>
        <br><br>
        <input type="submit" value="START">
      </fieldset>
    </form>
  </body>
</html>