<!DOCTYPE html>
<html>
  <title>RPS by Guillaume</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="<%= url('/styles.css') %>">
  <body>
    <h1>
      <form action="game_options">
        <fieldset>
          To start a game, please enter your name:<br><br>
          <input type="text" name="name" required>
          <br><br>
          <input type="submit" value="START">
        </fieldset>
      </form>
    </h1>
  </body>
</html>