<!DOCTYPE html>
<html>
  <title>RPS by Guillaume</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="<%= url('/styles.css') %>">
  <body>
    <div class="hands_choice">
      <form action="game_results">
        <BR>Choose your weapon <%= @name %>! Choose wisely...<br><br>
        <button type="submit" name="hand" value="rock"><img src="/images/hand_rock.jpg" alt="Rock"></button>
        <button type="submit" name="hand" value="paper"><img src="/images/hand_paper.jpg"></button>
        <button type="submit" name="hand" value="scissors"><img src="/images/hand_scissors.jpg"></button>
        <% if @type == "RPSSL" %>
          <button type="submit" name="hand" value="spock"><img src="/images/hand_spock.jpg"></button>
          <button type="submit" name="hand" value="lizard"><img src="/images/hand_lizard.jpg"></button>
        <% end %>
      </form>
    </div>
  </body>
</html>