<!DOCTYPE html>
<html>
  <title>HTML Tutorial</title>
  <body>
    <form action="game_results">
      <fieldset>
        Choose your weapon <%= @name %>! Choose wisely...<br><br>
        <button type="submit" name="hand" value="rock">Rock</button>
        <button type="submit" name="hand" value="paper">Paper</button>
        <button type="submit" name="hand" value="scissors">Scissors</button>
        <button type="submit" name="hand" value="spock">Spock</button>
        <button type="submit" name="hand" value="lizard">Lizard</button>
      </fieldset>
    </form>
  </body>
</html>