<!DOCTYPE html>
<html>
  <title>RPS by Guillaume</title>
  <body>
    wins or Draw<br>
    you chose 'this' and CPU chose ''<br><br>

    <button type="button"><a href='/game_play'>Play again!</a></button><br><br>

    <button type="button"><a href='/game_options'>Choose a type of game</a></button>
    <button type="button"><a href='/'>Back to the Homepage</a></button>
  </body>
</html>