<!DOCTYPE html>
<html>
  <title>HTML Tutorial</title>
  <body>
    wins or Draw<br>
    you chose 'this' and CPU chose ''<br><br>

    One big button to make:<br>
    play another game.again<br><br>

    <button type="button"><a href='/game_options'>Choose a type of game</a></button>
    <button type="button"><a href='/'>Back to the Homepage</a></button>
  </body>
</html>