<!DOCTYPE html>
<html>
  <title>RPS by Guillaume</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="<%= url('/styles.css') %>">
  <body>
    <div class="the_winner">
      ...and the winner is... <%= @result %>!
    </div>
    <br><br>
    <div class="both_choices">
      <table width="440">
        <tr>
          <td width="50%"><br>You chose:<br><br><%= @hand %></td>
          <td width="50%"><br>The CPU chose:<br><br><%= @cpu_hand %></td>
        </tr>
      </table>
    </div>
    <br><br>
    <div class="playagain">
      <button type="button"><a href='/game_play'>Play again!</a></button><br><br>
    </div>
    <div class="two_buttons">
      <table>
        <tr>
          <td>
            <button type="button"><a href='/game_options'>Choose a type of game</a></button>
          </td>
          <td>
            <button type="button"><a href='/'>Back to the Homepage</a></button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>