body {
  background-image: url("/images/rps_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  font-family: 'Orbitron', serif;
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
}

.enter_name {
  width: 50%;
  height: 25%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: 'Orbitron', serif;
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
  background-image: url("/images/danger.jpg");
  border-color: black;
  border-style: solid;
  border-width: medium;
  border-radius:5px;
}

.greeting {
  position: absolute;
  text-align:center;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: 'Orbitron', serif;
  font-size: 36px;
  text-shadow: 4px 4px 4px #aaa;
}

.choose_game {
  width: 620px;
  height: 420px;
  position: fixed;
  top: 22%;
  right: 25%;
  font-family: 'Orbitron', serif;
  font-size: 16px;
  text-shadow: 4px 4px 4px #aaa;
  color:white;
  background:rgba(0,0,0,0.6);
  border-color: black;
  border-style: solid;
  border-width: medium;
  border-radius:5px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 13px;
  position: absolute;
  top: -2px;
  left: 2px;
  color: #C40000;
}

.hands_choice {
  width: 800px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: 'Orbitron', serif;
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
  background-image: url("/images/plate.jpg");
}

.the_winner {
  position: fixed;
  top: 20%;
  right: 30%;
  font-family: 'Orbitron', serif;
  font-size: 36px;
  text-shadow: 4px 4px 4px #aaa;
}

.both_choices {
  width: 450px;
  height: 250px;
  margin: auto;
  position: absolute;
  text-align:center;
  top: 0; left: 0; bottom: 0; right: 0;
  font-family: 'Orbitron', serif;
  font-size: 16px;
  text-shadow: 4px 4px 4px #aaa;
  color:white;
  background:rgba(0,0,0,0.6);
  border-color: black;
  border-style: solid;
  border-width: medium;
  border-radius:5px;
}

.playagain {
  position: fixed;
  top: 78%;
  right: 47%;
}

.two_buttons {
  position: fixed;
  top: 88%;
  right: 39%;
}
